{# templates/ingredient/index.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
	<h1>Liste des Ingr´edients</h1>
	<table>
		<thead>
			<tr>
				<th>Nom</th>
				<th>Quantit´e</th>
				<th>Photo</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
{% endblock %}
